<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>CodeQuilt</title>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div id = "container">
		<ul class="topnav">
  			<li id="guidem"><a href="#guidem">Student Guide</a></li>
  			<li><a target="_blank" href="https://scratch.mit.edu/studios/30322945/projects/">Add your Scratch project!</a></li>
  			<li id="aboutm"><a href="#aboutm">About CodeQuilt</a></li>
  			<li><a target="_blank" href="https://docs.google.com/document/d/1dIuLBmw0f2m8eJ5lkckxwwrIV7dsnhRsXKUP6rfKgKQ/copy">Teacher Guide</a></li>
		</ul>
		</div>
		<div class="row" id = "quilt"></div>
		<div id="about" class="modal">
		    <div class="modal-content">
    			<span id="closeAbout" class="close">&times;</span>
    			<img src="https://www.dsk.lm-n.xyz/codeQuilt/images/fullLogo.png" alt="code quilt logo" class="center" style="width:30%"></img>
			<div id ="whatis">
			<p>
			CodeQuilt is a collaborative project in which students take ownership of their own stories about coding (stories often lost and ignored across apps, websites, and other digital media) by designing digital quilt patches. Together, these patches form a collective quilt representing their new stories and visions for who can code and why we code.
			</p>
			<p>
			Take a look at the <a id="close" href="#close">current quilt</a> and add your own patch by following the student guide</a>.
			</p>
			<p>We invite teachers and students to create and share their own patches.
			</p>
			<br>
			</div>
			<div id ="credits">
				<p> This activity was created by Yasmin B. Kafai, Luis Morales-Navarro, Mia Shaw and Gayithri Jayathirta at the University of Pennsylvania,and Naomi Thompson and Nichole Pinkard at Northwestern University. </p>
				<p>In partnership with:</p>
				<img src="https://www.dsk.lm-n.xyz/codeQuilt/images/CCS4Philly.png" alt="CS for Philly logo" class="center" style="width:30%"></img>
				<br>
				<img src="https://www.dsk.lm-n.xyz/codeQuilt/images/digitalyouthnetwork.png" alt="Digital Youth Network logo" class="center" style="width:30%"></img>
			</div>
  			</div>
		</div>
		<div id="guide" class="modal">
		    <div class="modal-content">
    			<span id="closeGuide" class="close">&times;</span>
    		<h1>CodeQuilt Student Guide</h1>
			<div id="step"></div>
			<div id="menu" class="center"></div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>